html{
    box-sizing: border-box;
    height: 100%;
}
*,::after,::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    height: inherit;
    border: 1px solid red;  
    font-weight: 900;
    font-family: sans-serif;
}
nav{
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
main{
    height: 100%;
}
span{
    color: red;
}
section{
    border: 3px solid black;
    height: 90%; 
    padding: 2rem;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer_field{
    border-bottom: 4px solid red;
    padding: 1rem;

}
input{
    border: 0;
    outline:transparent;
}